.benefits {
    padding: clamp(60px, 2.679rem + 5.36vw, 120px) 0;
}

.benefits__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @include tablet () {
        grid-template-columns: repeat(2, 1fr); // 290
        // grid-template-columns: repeat(auto-fit, minmax(310px, 1fr)); // 290
        gap: clamp(30px, 0.982rem + 4.46vw, 60px) 20px; // 30 60
    }

    @include mobile () {
        grid-template-columns: 1fr;
    }
}

.benefits__title {
    max-width: 260px;
}