.footer {
	padding: clamp(60px, 2.024rem + 8.63vw, 118px) 0 56px;
	background-color: var(--footer-bg);

	color: var(--footer-text-color);
	font-weight: 500;
	font-size: 15px;
	line-height: 1.6;

	a {
		color: var(--footer-text-color);
		transition: opacity 0.1s ease-in;

		&:hover {
			opacity: 0.6;
		}
	}
}

.footer__grid {
	margin-bottom: clamp(60px, 2.024rem + 8.63vw, 118px);
	display: grid;
	grid-template-columns: 3fr 1fr 2fr 2fr 2fr;
	gap: 60px 20px;

	@include tablet() {
		grid-template-columns: 4fr 1fr 3fr 3fr;
	}

	@include mobile() {
		grid-template-columns: 1fr 1fr;
	}
}

.footer__desc {
	p + p {
		margin-top: 1em;
	}

	@include mobile() {
		grid-column: 1 / 3;
	}
}

.footer__logo {
	margin-bottom: 29px;
}

.footer__nav {
	&--services {
		grid-column-start: 3;

		@include mobile() {
			grid-column-start: auto;
		}
	}
}

.footer__nav-title {
	margin-bottom: 20px;

	color: var(--footer-accent);
	font-family: var(--font-footer-accent);
	font-size: 17px;
	letter-spacing: -0.232px;
}

.footer__list {
	display: grid;
	gap: 16px;
}


.footer__row {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include mobile() {
		flex-direction: column-reverse;
		align-items: flex-start;
		gap: 20px;
	}
}

.footer__copyright {
	font-family: var(--font-footer-accent);
	font-size: 15px;
	letter-spacing: -0.205px;
}

.footer__links {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;

	@include mobile() {
		gap: 20px;
	}
}
