.info-hint {
	position: absolute;
	top: -26px;
	left: 50%;
	transform: translate(-50%, -100%);


	display: flex;
	gap: 8px;
    justify-content: center;
    padding-top: 12px;

	width: 112px;
	height: 56px;
	background-image: url('./../img/hint.svg');
}

.info-hint__radio {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.info-hint__radio:checked + .info-hint__radio-fake {
	// border: 2px solid red;
    background-image: url('./../img/check-no-shadow.svg');
    background-repeat: no-repeat;
    background-position:  center center;
}

.info-hint__radio-fake {
	flex-shrink: 0;
	width: 24px;
	height: 24px;

	background-color: gray;
	border: 2px solid #fff;
	border-radius: 50%;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

	&--orange {
		background-color: var(--ui-orange);
	}
	&--biruza {
		background-color: var(--ui-biruza);
	}
	&--gray {
		background-color: var(--ui-gray);
	}
}
