.nav {
	display: grid;
	grid-template-columns: 2fr 8fr 2fr;
	gap: 20px;
}

.nav__logo {
	align-self: center;
}

.nav__btn {
	display: none;

	@include tablet() {
		display: block;
	}
}